<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thorqq.magictimer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- 可选的权限 -->
    <!-- 启用错误分析功能，须添加该权限 -->
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <!-- Baidu 移动统计 end -->
        
    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity 
            android:name=".SplashActivity" 
            android:label="@string/app_name" 
        	android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            
        <activity 
            android:name="MagicTimerActivity" 
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
            
        <activity
            android:configChanges="keyboard|keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:name=".action.AlarmAlertFullScreen"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
        <activity
            android:configChanges="keyboard|keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:name=".action.AlarmAlert"
            android:taskAffinity=""
            android:theme="@style/common_dialog" />
        <activity
            android:excludeFromRecents="true"
            android:label="定时器设置"
            android:name=".SettingActivityTimer" 
            android:taskAffinity=""
            android:windowSoftInputMode="adjustPan"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:configChanges="keyboard|keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:name=".SettingActivityTime"
            android:taskAffinity=""
            android:theme="@style/common_dialog" />
        <activity
            android:configChanges="keyboard|keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:name=".SettingActivityDayLoop"
            android:taskAffinity=""
            android:theme="@style/common_dialog" />
        <activity
            android:configChanges="keyboard|keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:name=".SettingActivityWeekLoop"
            android:taskAffinity=""
            android:theme="@style/common_dialog" />
        <activity
            android:configChanges="keyboard|keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:name=".SettingActivityMonLoop"
            android:taskAffinity=""
            android:theme="@style/common_dialog" />
        <activity
            android:configChanges="keyboard|keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:name=".SettingActivityLoopNew"
            android:taskAffinity=""/>
        
        <receiver android:name="AlarmReceiver" >
            <intent-filter >
                <action android:name="com.thorqq.magictimer.ALARM_ALERT" />
                <action android:name="alarm_killed" />
                <action android:name="cancel_snooze" />
            </intent-filter>
        </receiver>
        <receiver android:name="AlarmInitReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <service android:name="com.thorqq.magictimer.action.AlarmKlaxon" >
            <intent-filter >
                <action android:name="com.thorqq.magictimer.ALARM_ALERT" />
            </intent-filter>
        </service>

            
        <!-- 渠道商编号 -->
        <meta-data android:name="BaiduMobAd_CHANNEL" android:value="Baidu" />
        <!-- 您从百度网站获取的APP KEY -->
        <meta-data android:name="BaiduMobAd_STAT_ID" android:value="64ad368f6e" />
        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data android:name="BaiduMobAd_EXCEPTION_LOG" android:value="true" />
        
            
    </application>

</manifest>